default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  host: datagramdb.chbzairfmdzi.us-east-1.rds.amazonaws.com
  database: <%= ENV['DB_NAME'] %>
  username: <%= ENV['DB_USER'] %>
  password: <%= ENV['DB_PASSWORD'] %>

#development:
#  <<: *default

#test:
#  <<: *default

production:
  <<: *default
