<div class="md-inline-form">
  <md-input-container>
    <label>Name</label><input  mg-model="data.params.name"/>
  </md-input-container>
  <md-input-container>
    <input type="text" id="format" value="{{data.params.format}}"/>
  </md-input-container>
  <md-button class="md-icon-button" ng-click="loadStuff()">
    <md-icon>refresh</md-icon>
  </md-button>
</div>

<md-table-container>
  <table md-table>
    <thead md-head>
      <tr md-row>
	<th md-column></th>
	<th md-column></th>
	<th md-column ng-repeat="d in data.series">
	  {{d.first_ride_p}}
	</th>
      </tr>
    </thead>
    <tbody md-body>
      <tr md-row ng-repeat="d in data.series">
	<th md-cell>
	  <a href="/api/v1/d/wVfv4got47jer7T7PHQVMw.html?params[format]={{params.format}}&params[first_ride_period]={{d.first_ride_p}}&params[name]={{params.name}}&refresh=86400&views[]=table.jq&views[]=table.liquid">{{d.first_ride_p}}</a>
	</th>
	<td md-cell>{{ d.first_rides }}</td>
	<td md-cell ng-repeat="e in d.data">
	  {{ e.count }}
	</td md-cell>
      </tr>
    </tbody>
  </table>
</md-table-container>
